* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-color: #C1B5AD; */
}

#map {
  height: 100vh;
  width: 100vw;
}

#nav {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
}

#content {
  display: flex;
}

#sidebar {
  position: absolute;
  right: 0;
  width: 300px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  flex-grow: 1;
}

#places,
#itinerary {
  padding: 20px;
  background-color: lightgray;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

#itinerary h2,
#places h2 {
  text-align: center;
}

#nav_links {
  display: inline-flex;
  list-style: none;
}

#nav_links li {
  padding: 15px 20px;
}
